body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main-container {
    display: block;
    text-align: center;
    padding: 25px;
}

.main-container p {
    padding-top: 20px;
}

#cards-container{
    display: flex;
    flex-wrap: wrap;
}

.card-text-container {
    background-color: black;
}

.card-body {
    text-align: left;

    color: white;
}

.mail-text {
    color: aqua;
}